Repository at-ishikawa/laravel-api-template: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, vendor/bin/php-cs-fixer --verbose fix --config .php_cs, vendor/bin/phpunit --verbose

.lintstagedrc:

{
    "linters": {
        "**/*.php": [
            "php -l",
            "vendor/bin/php-cs-fixer --verbose fix --config .php_cs"
        ],
        "tests/**/*.php": [
            "vendor/bin/phpunit --verbose"
        ]
    },
    "concurrent": true
}

Add CircleCI configuration
  .circleci/config.yml
  .env.example
  .lintstagedrc
  .php_cs
  composer.json
Due: none

Add docker-compose.yml for development
  docker-compose.yml
Due: none

Delete unnecessary web features for api
  app/Http/Controllers/Auth/ForgotPasswordController.php
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Controllers/Auth/ResetPasswordController.php
  app/Http/Kernel.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Providers/RouteServiceProvider.php
  package.json
  public/css/app.css
  public/js/app.js
  resources/assets/js/app.js
  resources/assets/js/bootstrap.js
  resources/assets/js/components/ExampleComponent.vue
  resources/assets/sass/_variables.scss
  resources/assets/sass/app.scss
  resources/views/welcome.blade.php
  routes/web.php
  tests/Feature/ExampleTest.php
  webpack.mix.js
Due: php -l, vendor/bin/php-cs-fixer --verbose fix --config .php_cs, vendor/bin/phpunit --verbose

composer require tymon/jwt-auth:1.0.0-rc.1
  composer.json
  composer.lock
Due: none

Configure jwt-auth after installation
  .env.example
  config/app.php
  config/jwt.php
Due: php -l, vendor/bin/php-cs-fixer --verbose fix --config .php_cs

Setup JWT authentication
  app/DataStore/Database/User.php
  app/Http/Controllers/UserCreateController.php
  app/Http/Controllers/UserShowController.php
  app/Providers/RouteServiceProvider.php
  app/Repositories/UserRepository.php
  app/Services/User/UserCreateService.php
  config/auth.php
  phpunit.xml
  routes/api.php
  tests/Integration/Http/Controllers/UserCreateControllerTest.php
Due: php -l, vendor/bin/php-cs-fixer --verbose fix --config .php_cs, vendor/bin/phpunit --verbose

Check CORS
  app/Http/Kernel.php
  composer.json
  composer.lock
  config/cors.php
Due: php -l, vendor/bin/php-cs-fixer --verbose fix --config .php_cs

Bugfix, refactor, and add test cases
  app/Domains/ArrayCopyable.php
  app/Http/Controllers/User/UserCreateController.php
  app/Http/Controllers/User/UserShowController.php
  app/Http/Requests/RequestValidator.php
  app/Repositories/UserRepository.php
  config/requests/rules/user/user.php
  routes/api.php
  tests/Integration/Http/Controllers/UserCreateControllerTest.php
  tests/Unit/Domains/ArrayCopyableTest.php
  tests/Unit/Requests/RequestValidatorTest.php
Due: php -l, vendor/bin/php-cs-fixer --verbose fix --config .php_cs, vendor/bin/phpunit --verbose

[Laravel] Update from 5.5 to 5.6
  app/Http/Middleware/TrustProxies.php
  composer.json
  composer.lock
Due: php -l, vendor/bin/php-cs-fixer --verbose fix --config .php_cs

[Laravel] Update from 5.5 to 5.6
  app/Http/Middleware/TrustProxies.php
  composer.json
  composer.lock
  docker-compose.yml
  phpunit.xml
  tests/Integration/Http/Controllers/UserCreateControllerTest.php
Due: php -l, vendor/bin/php-cs-fixer --verbose fix --config .php_cs, vendor/bin/phpunit --verbose
